name: Day24 Pipeline

on:
 push:
   branches: [ main ]

jobs:

 build:

   runs-on: ubuntu-latest

   steps:

   - name: Checkout Code
     uses: actions/checkout@v3

   - name: Setup Node
     uses: actions/setup-node@v3
     with:
       node-version: 18

   - name: Install Dependencies
     run: npm install

   - name: Run Test
     run: npm test

   - name: Docker Build
     run: docker build -t todo-app .

   - name: Upload Artifact
     uses: actions/upload-artifact@v4
     with:
       name: project-files
       path: .

 test:

   needs: build

   runs-on: ubuntu-latest

   steps:

   - run: echo "Test Stage Passed"

 deploy:

   needs: test

   runs-on: ubuntu-latest

   steps:

   - run: echo "Deployment Successful"
