name: Advanced Day24 Pipeline

on:
  push:
    branches: [ main ]

jobs:

# =========================
# BUILD STAGE
# =========================

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install Dependencies
      run: npm install

    - name: Build Docker Image
      run: docker build -t todo-app .

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: project-files
        path: .


# =========================
# TEST STAGE
# =========================

  test:

    needs: build

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Dependencies
      run: npm install

    - name: Run Tests
      run: npm test


# =========================
# SECURITY SCAN STAGE
# =========================

  security-scan:

    needs: test

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build -t todo-app .

    - name: Run Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: todo-app
        format: table
        exit-code: 0
        ignore-unfixed: true
        vuln-type: os,library
        severity: CRITICAL,HIGH


# =========================
# DEPLOY STAGE
# =========================

  deploy:

    needs: security-scan

    runs-on: ubuntu-latest

    steps:

    - name: Deploy Application
      run: echo "Deployment Successful"
